// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "service";
@import "cards";
@import "gallery";

.banner {
  background-color: #5a0204;
  background-size: cover;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner.index {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url("groupe.jpg");
}

.banner.index.ami {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url("groupe2ens.jpg");

}

.banner.alain {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url("remerciement.jpg");

}

.banner.theatre {
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 20%), url(/images/fonddemembre1.jpg);
}

.titrecontact h2 {
  font-size: 37px;
}

.banner.theatre h2 {
  font-size: 25px;
}

.banner.ami p {
      font-size: 20px;
    font-weight: lighter;
    color: white;
    opacity: 0.6;
    margin-bottom: 31px;
    margin-top: 29px;
}

.mail p {
    font-weight: bold;
    font-size: 31px;
}

.titrindex {
  margin-top: 200px;
}

.banner.emile h2 {
  font-size: 45px;
}

.logoindex {
  margin-bottom: 400px;
}

.content.allez {
  margin-left: 100px;
}

.col-sm-offset-0.pierrick {
    margin-top: 25px;
    margin-right: 30px;
}

.prenom.cecile {
  margin-bottom: 9px;
  margin-top: 50px;
  font-size: 35px;
  color: white;
}

.mireille {
    margin-bottom: 9px;
    margin-top: 20px;
    font-size: 35px;
    color: white;
}

.col-sm-3.xavier {
  margin-bottom: 35px;
}

.row.plusfat.maisquoi p {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: -20px;
}

h2 .titrecontact {
  font-size: 37px;
}

.row.resume p {
  font-size: 25px;
}

.row.resu p {
  font-size: 17px;

}

.row.resum p {
  font-size: 19px;
}

.row.support {
  margin-top: -91px
}

.col-sm-2.soporto {
  margin-top: 126px;
}
