.btn-medium {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}

.btn-medium h3 {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.btn-medium.article {
  color: white;
  border: 1px solid #f4f4f4;
  padding: 5px 7px;
  border-radius: 3px;
  font-size: 25px;
  font-weight: lighter;
}

.btn-medium.cv {
  color: white;
  border: 1px solid #f4f4f4;
  padding: 6px 7px;
  border-radius: 51px;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;

}

.col-sm-10 {
  text-align: center;
}

.row.merci {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 40px;
    margin-top: 120px;
}
