// Define variables for your color scheme

// For example:
$red: #5a0204;
$blue: #FFFFFF;
$blue-light: #A5CEE9;
$blue-aca: #004A85;
$light-blue-aca: #A5CEE9;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #7C818D;
$light-gray: #F4F4F4;
