<!-- <nav>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Menu</a>
</nav>
 -->

        <!-- Collect the nav links, forms, and other content for toggling -->
<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
  <div class="header">
    <div class="content-header">
      <div class="logo">
        <p><% link_to 'index.html' do %>
        <%= image_tag 'logofinal.png', style:'width: 150px;', color: '#5a0204' %>
        <% end %>
        </p>
      </div>
    <div class="menu">
    <p/><a href="noscreations.html" class="more"> <h6>Nos créations  <i class="fa fa-check" aria-hidden="true"></i>
 </h6></a></p>
      <p><a href="nosfondateurs.html" class="more"> <h6>Nos membres  <i class="fa fa-user" aria-hidden="true"></i>
</h6></a></p>
      <p><a href="contact.html" class="more"><h6> Contact  <i class="fa fa-phone" aria-hidden="true"></i>
</h6></a></p>
      <p><a href="presse.html" class="more"> <h6>Presse  <i class="fa fa-camera-retro" aria-hidden="true"></i>
</h6></a></p>
      <p><a href="remerciements.html" class="more"><h6> Nos membres supports  <i class="fa fa-laptop" aria-hidden="true"></i>
</h6></a></p>
    </div>
    <div class="footer">

<a href="https://www.youtube.com/channel/UC0uAY_WbRhgOGbPPRxJPfOg"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
<a href="https://www.instagram.com/cdlpofficiel/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/CDLPofficiel/?ref=br_rs"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
<a href="https://twitter.com/Le_CDLP"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>




    </div>
  </div>
</div>



        </div>
    <!-- </div> -->
















