---
title: Alice Méchin
---
<%= partial "headerfr" %>
  <div class="content">
    <div class="banner planches2"
      <div class="banner-content">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h1><b>Alice Méchin</b></h1><br/>
            </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-3">
            <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/alice1.jpeg');">
            </div>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-6">
            <div class="textalign">
            <p>D'abord membre d’une association étudiante «Stud en Scène», puis élève au Conservatoire de St- Germain-en-Laye, actrice dans quelques moyens et courts métrages et enfin adepte de l'impro méthode Keith Johnstone, Alice aime le théâtre sous toutes ses formes. Juriste et comédienne, c’est aussi une escrimeuse ; activité qui s'invite quelque fois dans ses projets théâtraux.
            Mais Alice n’a pas encore dit son dernier mot, nouveau challenge pour 2018 : One man show...
           <br> </p>
          </div>
        </p></div>
          <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Parcours</h4>
            </a>
            <a href="#photo">
              <h4>2. Galerie Photos</h4>
            </a>
          </div>


      <div class="row">
        <div class="col-xs-12 col-sm-12 bas">
          <div class="shake"><h3><b>Retrouvez-moi</b></h3></div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-6">
            <a href="/files/CV-Alice-Méchin.pdf"><h3 class="btn-medium cv">Voir mon CV </h3></a>
          </div>
         <div class="col-sm-6">
          <a href="https://www.facebook.com/alice.mech" class="href"><h3 class="btn-medium cv">Sur mon Facebook</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=equipe></a>
<div class="content">
  <div class="banner-2">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-2">
          <div class="shake"><h2>Filmographie</h2></div><br/>
          <p>
          <b>2016     -    Une chanson de Virgile Maruani de Côme Denis</b> , <i>court-métrage (20’)</i> <br>Rôle principal
          </p>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p>
          <p>
          <b>2016     -    <a href="ignition.html">Ignition</a></b> , <i>long-métrage (65’)</i><b> Comédienne</b><br>Production CDLP.
          </p>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-7">
        <p>
          <div class="shake"><h2>Théâtre</h2></div><br/>
        </p>
        <p>
        <b>2018   -   Le chant des roseaux - <i>Aziz Hellal</i> </b> <br/> 20 représentations au Guichet Montparnasse, Paris.</p>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
        <p>
        <b>2017  -   Quelque chose de Cyrano   - <i>Aziz Hellal</i> </b> <br/>
        Compagnie Kamat Prod, 10 représentations au Théo Théâtre (Paris)
        </p>
       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2016   -   La réunification des deux corées  - <i>Joël Pommerat</i> </b> <br/>  salle Tati à Saint Germain en Laye

      </p>

       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2015-2016   -   <a href="justelafindumonde.html">Juste la fin du monde</a>  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
      Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

      </p>

       <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <p>
      <b>2015   -   <a href="impressions-feminines.html">Impressions féminines</a> - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
      Théâtre de Verre (Paris 20), janvier 2017.</p>


       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2011-2012   -   Un air de famille  - <i>Hanock Levin</i> </b> <br/>  mis en scène par Cristèle Alves Meira

      </p>
       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2010-2011   -   Les aventures de Nathalie Nicole  - <i>Marion Aubert</i> </b> <br/>  mis en scène par Thierry Vu Huu

      </p>

       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2009-2010   -   Kroum l'ectroplasme  - <i>Hanock Levin</i> </b> <br/>  mis en scène par Cristèle Alves Meira

      </p>


    </div>
  </div>
</div>
</div>
</div>

<br><br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie photos</h2></div>
      </div>
        <div class="gallery">
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/alice/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/alice/1.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/alice/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/alice/2.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/alice/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/alice/3.jpg"></a>
            </div>
          </div><br>
          <div class="row"><p>Credit : Lena Constantin et Micha Ocádiz</p></div>
        </div>
      </div>
    </div>
  </div>






