---
title: Alice Méchin
---
<%= partial "headerfr" %>
  <div class="content" >
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 20%), url(/images/fonddemembre1.jpg);">
      <div class="banner-content" id="marina">
        <div class="container">
          <div class="row titre">
            <div class="col-xs-12 col-sm-12 prenom">
              <h7>Alice Méchin</h7><br/><br/>
            </div>
          </div>
        </div>
        <div class="row resum">
          <div class="col-xs-12 col-sm-offset-1 col-sm-1">
            <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/alice1.jpeg');">
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-7">
            <p>Alice Méchin – 30 ans
            D'abord membre d’une association étudiante «Stud en Scène», puis élève au Conservatoire de St- Germain-en-Laye, actrice dans quelques moyens et courts métrages et enfin adepte de l'impro méthode Keith Johnstone, Alice aime le théâtre sous toutes ses formes. Juriste et comédienne, c’est aussi une escrimeuse ; activité qui s'invite quelque fois dans ses projets théâtraux.
            Mais Alice n’a pas encore dit son dernier mot, nouveau challenge pour 2018 : One man show....
            </p>
          </div>
        </div>
        <div class="row plusfat">
          <div class="col-sm-12 bas">
           <div class="shake"><h2><b>Retrouvez-moi :</b></h2></div>
          </div>
          <div class="col-sm-6 plusfat">
            <a href="/files/CV-Alice-Méchin.pdf"><h3>Télécharger mon CV </h3></a>
            <h3>alice.mechin@hotmail.fr</h3>
         </div>
         <div class="col-sm-6 plusfat">
          <a href="https://www.facebook.com/alice.mech" class="href"><h3>Sur mon compte Facebook</h3></a>

            <h3>06.49.71.70.88 </h3></a>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-2">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-2">
          <div class="shake"><h2>Filmographie</h2></div><br/>
          <p>
          <b>2016     -    Une chanson de Virgile Maruani de Côme Denis</b> , <i>court-métrage (20’)</i> Rôle principal
          </p>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p>
          <p>
          <b>2016     -    Ignition</b> , <i>long-métrage (65’) Réalisateur / producteur / scénariste / monteur, Production CDLP.</i>Production CDLP.
          </p>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-7">
        <p>
          <div class="shake"><h2>Théâtre</h2></div><br/>
        </p>
        <p>
        <b>2018   -   Le chant des roseaux - <i>Haziz Hellal</i> </b> <br/> 20 représentations au Guichet Montparnasse, Paris.</p>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
        <p>
        <b>2017  -   Quelque chose de Cyrano   - <i>Aziz Hellal</i> </b> <br/>
        Compagnie Kamat Prod, 10 représentations au Théo Théâtre (Paris)
        </p>
       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2016   -   La réunification des deux corées  - <i>Joël Pommerat</i> </b> <br/>  salle Tati à Saint Germain en Laye

      </p>

       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
      Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

      </p>

       <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <p>
      <b>2015   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
      Théâtre de Verre (Paris 20), janvier 2017.</p>


       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2011-2012   -   Un air de famille  - <i>Hanock Levin</i> </b> <br/>  mis en scène par Cristèle Alves Meira

      </p>
       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2010-2011   -   Les aventures de Nathalie Nicole  - <i>Marion Aubert</i> </b> <br/>  mis en scène par Thierry Vu Huu

      </p>

       <p><i class="fa fa-minus" aria-hidden="true"></i></p>

      <p>
      <b>2009-2010   -   Kroum l'ectroplasme  - <i>Hanock Levin</i> </b> <br/>  mis en scène par Cristèle Alves Meira

      </p>


    </div>
  </div>
</div>

<div class="container">
  <div class="row">
       <div class="col-sm-3 col-sm-offset-2">

    </div>
    <div class="col-sm-3 shake">
    <h2>Galerie photos</h2>

    </div>
    </div>
       <div class="row">
          <div class="col-sm-3 col-sm-offset-1">
            <% link_to '/images/alice/1.jpg' do %>
              <%= image_tag '/images/alice/1.jpg', style:"width: 311px; padding:10px;"  %>
            <% end %>
          </div>
          <div class="col-sm-3">
             <% link_to '/images/alice/2.jpg' do %>
              <%= image_tag '/images/alice/2.jpg', style:"width: 311px; padding:10px;"  %>
            <% end %>
          </div>
          <div class="col-sm-3">
              <% link_to '/images/alice/3.jpg' do %>
              <%= image_tag '/images/alice/3.jpg', style:"width: 311px; padding:10px;"  %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>








    </div>
  </div>
</div>





