<%= partial "headerfr" %>
<div class="content" >
  <div class="banner planches2">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h1><b>Cécile Heintzmann</b></h1>
        </div>
        <div class="col-xs-12 col-sm-1">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/cecile1.jpeg');">
          </div>
        </div>
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
          <div class="textalign"><br>
            <h7>Après 5 ans d'improvisation théâtrale en championnats juniors, Cécile se lance à 18 ans pour trois ans de formation professionnelle en conservatoire. Trilingue, elle utilise ces trois langues de jeu dans ces spectacles : français, espagnol et anglais.</h7><br><br>
            <h7>Depuis 2017, elle a rejoint la compagnie Yvelinoise Le Lézard Bleu dirigée par Philippe Vandaele et Anne-Sophie Nedelec-Vandaele ainsi que la compagnie Val-d'Oisienne Théâtre-en-Stock dirigée par Jean Bonnet.</h7><br><br>
            <h7>En parallèle, elle cofonde le Collectif La Griffée, troupe officielle du mouvement féministe #MeToo, qui propose un théâtre forum entre autres formes artistiques engagées et bénévoles.</h7><br><br>
            <h7>Elle donne de plus des cours de théâtre et d'improvisation chez Lez'Arts Scéniques et suit une formation corporelle à Paris 3 (escrime, acrobatie, danse, shiatsu et sports de combat).</h7><br><br>
          </div>



        </div>
          <div class="col-xs-12 col-sm-12">
          <a  href="#equipe">
            <h4>1. Parcours</h4>
          </a>
          <a href="#photo">
            <h4>2. Galerie Photos</h4>
          </a>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 bas">
           <div class="shake"><h3>Retrouvez-moi</h3></div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="https://www.linkedin.com/in/cecileheintzmann" target="_blank"><h3 class="btn-medium cv">Sur LinkedIn</h3></a>
            <a href="https://www.facebook.com/cecileheintzmannpro" target="_blank" ><h3 class="btn-medium cv">Sur Facebook</h3></a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a href="/files/CV-Cécile-Heintzmann.pdf" target="_blank"><h3 class="btn-medium cv">Voir mon CV</h3> </a>
           <a href="mailto:cecileh13@hotmail.fr" target="_blank"><h3 class="btn-medium cv">Par mail</h3></a>
         </div>
        </div></div></div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=equipe></a>
<div class="content">
<div class="banner-2">
  <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-4">
        <div class="shake"><h2>CINÉMA</h2></div><br>
        <div class="textalign"><br><p>
        <b>2017   -     <a href="deplaceleciel.html">Déplace le ciel</a></b> , <i>court-métrage (25’)</i>  Production CDLP</p></div>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <div class="textalign"> <p>
        <b>2016     -    Voyages étudiants</b> , <i>vidéo promo de l’école IMAC Multimédia-Audiovisuel</i>
        </p></div>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
     <div class="textalign"> <p>
        <b>2013     -    Connections</b> , <i>Spot de prévention, école de cinéma EICAR</i>
        </p></div>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
      <div class="textalign"><p>
        <b>2010-2012 - Plusieurs court-métrages</b> : Option Audiovisuel, lycée (actrice + réalisation)</i><br><br>
        </p></i></p></div></div>
       <div class="col-xs-12 col-sm-6">
          <div class="shake"><h2>THÉÂTRE</h2></div><br/>
          </p><div class="textalign">
          <p><b>2018   -   Malade? Mon œil! - <i>d’Anne-Marie Petitjean</i><br> Spectacle jeune public adapté du Malade Imaginaire de Molière</i> </b> <br/>  Cie Théâtre en Stock, m.e.s. Jean Bonnet / Val d’Oise et Avignon 2018</p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p>
          <div class="textalign">
          <p><b>2018   -   L'École des Femmes - <i> de Molière</i><br> </b> Cie Théâtre en Stock, m.e.s Jean Bonnet / Val d’Oise et Avignon 2018</p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p>
          <div class="textalign">
          <p><b>2017   -   Le Médecin Malgré Lui - <i>de Molière <br> </i></b> Cie Le Lézard Bleu, m.e.s. Philippe Vandaele & Anne-Sophie Nedelec-Vandaele / Yvelines, décembre 2017</p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign"><p>
          <b>2017     -    Le Père Noël contre les Jouets Plastoc - <i>de David Lesné</i></b> <br>Cie Théâtre en Stock, m.e.s. Jean Bonnet / Val d’Oise, décembre 2017
          </p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p>
          <div class="textalign">
          <p><b>2017   -   Dos Viejos Pánicos - <i>de Virgilio Piñera</i></b> <br> VO espagnol, Courte adaptation / La Complutense, Madrid, mai 2017</p></div>
           <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign">
          <p><b>2016   -   Macbeth - <i>de Shakespeare </i><br> Troupe anglophone de Sophia Wise</b> <br/>
          VO anglais surtitrée français / Paris-Sorbonne IV, mai 2016
          </p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign">
          <p><b>2016   -   Caligula -  <i>d'Albert Camus</i>  </b><br> Cie Haute Société, m.e.s. Diane Richard / Théâtre du Ménilmontant, mai 2016</p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i>
          <div class="textalign"><p><b>2016   -   Libre adaptation de Les Trois Sœurs - <i>de Tchekhov</i></b> <br>
          Création collective / Festival À Contre Sens, Nouvelle Sorbonne Paris 3, mars 2016</p></div>
          <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign">
          <p><b>2015-2016   -   <a href="justelafindumonde.html">Juste la fin du monde</a>  - <i>de Jean-Luc Lagarce</i> </b> <br/>  CDLP, m.e.s. Isabelle Mestre, scénographie Claire Chavanne <br>
          Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78) <br> Festival étudiant de Cabourg, Félicitations du Jury, avril 2016
        </p></div><br><br>
        </div>
      </div></i></i></p>
        </div>
      </div>
    </div></p></div></div></div></div></div>

<br><br>

<a id=photo></a>
<div class="content">
<div class="banner-2">
  <div class="row">
    <div class="col-xs-12 col-sm-12 shake">
      <div class="colormain"><h2>GALERIE PHOTOS</h2></div>
      </div>
        <div class="gallery">
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/1.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/1.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/2.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/2.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/3.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/3.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/8.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/8.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/9.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/9.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/4.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/4.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/14.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/14.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/11.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/11.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/12.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/12.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/5.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/5.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/13.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/13.jpg"></a>
            </div>

            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/15.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/15.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/16.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/16.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/17.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/17.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/7.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/7.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/19.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/19.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/20.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/20.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/10.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/10.jpg"></a>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/22.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/22.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/23.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/23.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/24.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/24.jpg"></a>
            </div>
          </div>
          <div class="row">
             <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/30.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/30.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/25.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/25.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/21.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/21.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/28.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/28.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/29.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/29.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/6.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/6.jpg"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/27.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/27.jpg"></a>
            </div>


            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/cecile/31.jpg" data-lightbox="mygallery" data-title=""><img src="/images/cecile/31.jpg"></a>
            </div>
          </div>
          <div class="row"><p>Credits Photo : Ioan Urs et Paul Contargyris</p>
</div></div></div></div></div></div>







<!--
      </div>
    </div>
   <div class="banner-2">
      <div class="banner-content"> -->

<!--
<div class="shake"><h2>Filmatographie</h2></div><br/>
<p>
<b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2016     -    Voyages étudiants</b> , <i>vidéo promo de l’école</i>IMAC Multimédia-Audiovisuel

</p> <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2013     -    Connections</b> , <i>spot de prévention</i> école de cinéma EICAR

</p>
<p><i class="fa fa-minus" aria-hidden="true"></i></p><p>
<b>2010-12  -  Plusieurs court-métrages</b> , <i>Option Audiovisuel</i> Lycée

</p>

<br/>
<p> -->
<!-- <div class="shake"><h2>Théâtre</h2></div><br/>
</p>
<p>
<b>2017   -   Le Médecin Malgré Lui - <i>Molière</i> </b> <br/>   Philippe V. & Anne-Sophie Nedelec-Vandaele
Le Grenier, Bougival, et Jean Vilar, Marly-le-Roi (78)
Rôle en doublon, prochaine date : 19 décembre 2017
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>

<p>
<b>2017   -   Dos Viejos Pánicos - <i>Virgilio Piñera</i> </b> <br/>    courte adaptation
La Complutense, Madrid, VO espagnol, mai 2017

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Macbeth - <i>Shakespeare</i> </b> <br/>    troupe anglophone de Sophia Wise
Paris-Sorbonne IV, VO anglais surtitrée français, mai 2016
</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -   Caligula - <i>Albert Camus</i> </b> <br/>    par Haute Société, m.e.s. Diane Richard
Théâtre du Ménilmontant, mai 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2016   -    libre adaptation de Les Trois Sœurs - <i>Tchekhov</i> </b> <br/>   libre adaptaion, création collective  Festival À Contre Sens, Nouvelle Sorbonne Paris 3, mars 2016

</p>

 <p><i class="fa fa-minus" aria-hidden="true"></i></p>


<p>
<b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
Festival étudiant de Cabourg, Félicitations du Jury, avril 2016

</p>

 -->
