---
title: Charlotte Gasser
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner-planches2" >
    <div class="banner-content">
      <div class="row titre">
        <div class="col-xs-12 col-sm-12 prenom cha">
          <h4>Charlotte Gasser</h4><br/><br/>
        </div>


          <div class="col-xs-12 col-sm-2">
            <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/charlotte/22.jpg'); margin-top: 100px;">
            </div>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-9">
            <div class="shake"><h3><b>Résumé</b></h3></div>
              <div class="textalign">
            <p>Née en 1991 d’un père photographe et d’une mère ostéopathe Charlotte Gasser commence le théâtre très jeune. Elle décide rapidement de faire de cet art son activité principale.
            Elle est d’abord formée au théâtre en tant que comédienne ; Puis, encouragée par Isabelle Mestre (professeur au conservatoire de Saint-Germain-en-Laye) elle se lance dans la mise en scène, elle l’assiste d’ailleurs dans la création de deux spectacles (La réunification des deux Corées ; Le songe d’une nuit d’été), elles codirigent par la suite une mise en scène d’une journée historique déjantée dans le village d’Harcourt.
            Charlotte assistera également Paul Contargyris dans la réalisation d’Eva un court-métrage dramatique.
              <br>
            Lors de ces travaux de mise en scène, Charlotte s’intéresse beaucoup aux décors, c’est ainsi qu’elle découvre une nouvelle orientation : elle participera en tant que chef Décoratrice,  à quatre projets : Impressions Féminines, Eva, Déplace le ciel, Ouvre les yeux.

            Son travail est basé sur l’esthétique du théâtre et du cinéma, c’est pourquoi Charlotte écrit actuellement un scénario avec Anaïs Pendeliau dans lequel elles explorent cet univers qui l’anime et la passionne.
            Aujourd’hui Charlotte s’épanouit en menant de front ces activités.
            </p>
           </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12 col-sm-12 plusfat">
            <a href="/files/CV-Charlotte-Gasser.pdf" class="btn-medium">Voir mon CV</a>
         </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="content">
<div class="banner-2">
  <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-4">
        <div class="shake"><h2>Cinéma</h2></div><br/>
        <p>
        <b>2017   -     Ouvre les Yeux</b> , <i>Court-métrage (20’)</i></b> <br/>  Sonadie San
        <i>
         <br> Chef Décoratrice
        </i>
        </p>

      <p><i class="fa fa-minus" aria-hidden="true"></i></p>
        <p>
        <b>2017   -     Déplace le ciel</b> , <i>Court-métrage (25’)</i></b> <br/>  Nicolas Khamsopha - Production CDLP
        <i><br>
          Chef Décoratrice (plateau TV)
        </i>
        </p>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
        <p>
        <b>2017     -    Eva</b> , <i>Court-métrage (20')</i></b> <br/> Paul Contargyris - Production
        <i><br>
          1ère Assistante Réalisation et Chef Décoratrice
        </i>
        </p>
        <p><i class="fa fa-minus" aria-hidden="true"></i></p>
        <p>
        <b>2017     -    The Neighbor</b> , <i>Court-métrage (20')</i></b> <br/> Donia Alias
        <i>
         <br> Comédienne
        </i>
        </p>
      </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-6">
  <p>
            <div class="shake"><h2>Théâtre</h2></div><br/>
              <p>
              <b>2017   -     Si Haraucourt m’étais compté</b> , <i></i></b> <br/>Haraucourt (54) Septembre 2017
              <i><br>
                Co-metteuse en scène
              </i>
              </p>
              <p>
              <b>2016/2018   -  Le songe d’une nuit d’été  - <i>William Shakespeare</i> </b> <br/>Salle Tati de St-Germain (78) Avril 2017 <br>
              <i>Assistante mise en scène.</i></p>
              <p><i class="fa fa-minus" aria-hidden="true"></i></p>
              <p>
              <b>2017   -   Impressions féminines - <i>Emma Pujar, CDLP</i> </b> <br/>Au Théâtre de Verre (Paris 20), janvier 2017. <br>
              <i>Comédienne, Co-Chef Décoratrice.</i></p>
              <p><i class="fa fa-minus" aria-hidden="true"></i></p>
              <p>
              <b>2016   -   La réunification des deux Corées - <i>Joël Pommerat</i> </b> <br/>Salle Tati de St-Germain (78) <br>
              <i>  Assistante mise en scène.</i></p>
              <p><i class="fa fa-minus" aria-hidden="true"></i></p>
              <p>
              <b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
              Festival étudiant de Cabourg, Félicitations du Jury, avril 2016
              </p>
              <br>
              <br>
          </div>
        </div>
</div>
</p>
</div>
</div>
<br>
<br>




<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie photos</h2></div>
      </div>
    <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/1.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/2.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/4.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/6.jpg"></a>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/7.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/8.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/9.jpg"></a>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/10.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/10.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/11.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/12.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/12.jpg"></a>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/13.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/13.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/14.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/14.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/15.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/15.jpg"></a>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/16.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/16.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/17.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/17.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/18.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/18.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/19.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/19.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/20.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/20.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/21.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/21.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/charlotte/22.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/charlotte/22.jpg"></a><br><br>
      </div>
      </div>
    </div>
    </div>
    </div>
    <br><br>
  </div>
</div>



