---
title: Collectif de théatre : Nous contacter
---

<%= partial "headerfr" %>
  <div class="content" id="index">
    <div class="banner index ami">
      <div class="banner-content">
        <div class="shake">
          <%= image_tag "logo-blanc.png", style:'width: 150px;' %>
        <h2><div class="titrecontact">Le Collectif Dans La Peau</div>
</div>
</h2>

              <p><b>Réservations et infos :</b><br/> <a href="mailto:collectif.danslapeau@gmail.com">collectif.danslapeau@gmail.com</a></p>
<p><b>Contacter le Collectif :</b>


<br/>
<a href="charlotte.html">Charlotte Gasser</a> : 0684562746
<br/>
<a href="paul.html">Paul Contargyris</a> : 0671915183</p>
<p><b>La Communication :</b>
  Lauren Jean

</p>


<br>

        <a href="https://www.youtube.com/channel/UC0uAY_WbRhgOGbPPRxJPfOg"><i class="fa fa-youtube fa-3x socialnetwork" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/CDLPofficiel/?ref=br_rs"><i class="fa fa-facebook fa-3x socialnetwork" aria-hidden="true"></i></a>
        <a href="https://twitter.com/Le_CDLP"><i class="fa fa-twitter fa-3x socialnetwork" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/cdlpofficiel/"><i class="fa fa-instagram fa-3x socialnetwork" aria-hidden="true"></i></a>

</div>
</div>
    </div>
      </div>
    </div>
</div>

