---
title: Nos créations : Déplace le ciel
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner alain">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1><b>DÉPLACE LE CIEL (2018)</b></h1>
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-3">
        <div class="card oui img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/deplace.jpg');">
        </div>
      </div>

      <div class="col-xs-12 col-sm-offset-1 col-sm-7">
          <h4>Un court-métrage de <a href="florence.html"> Florence de Talhouët</a> et <a href="marina.html">Marina Ocádiz</a></h4>
          <h4><i>D’après la pièce de théâtre Déplace le ciel de Leslie Kaplan</i></h4>

          <div class="textalign">
             <p>Deux comédiennes E et F s’exilent à la campagne pour écrire une pièce de théâtre.
             À travers cette recherche d'inspiration pour trouver les mots justes à écrire et à jouer, ces femmes réfléchissent sur leur monde et sur le monde, sur ce qu'est être femme et sur ce qu'est aimer et être aimé. Par leurs échanges et par leurs confrontations, elles tentent de grandir dans un monde qui se révèle souvent étrange et fictif, parfois violent mais, surtout, ouvert.</p>
          </div>
          <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Équipe</h4>
            </a>
            <a href="#intention">
              <h4>2. Note d'intention</h4>
            </a>
            <a href="#photo">
              <h4>3. Galerie Photos</h4>
            </a>
             <a href="#merci">
              <h4>4. Remerciements</h4>
            </a>
          </div>

        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 plusfat">
            <a href="/files/Projet-Déplace-le-Ciel.pdf"><h3 class="btn-medium cv">Notre dossier de presse</h3></a>           </p></div>
              <div class="col-xs-12 col-sm-6 plusfat">
                <a  href="mailto:deplaceleciel@gmail.com"><h3 class="btn-medium cv">Contact par mail</a></h3></b>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=equipe></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
          <div class="shake"><h2>DISTRIBUTION</h2></div><br/>
            <div class="textalign">
            <p>
            <b>- E - <a Href="Florence.html">Florence de Talhouët</a></b><br>
            <b>- F - <a Href="Marina.html">Marina Ocádiz</a></b><br>
            <b>- L'homme, Présentateur Tv - <a Href="Jb.html">Jean-Baptiste Henry</a></b><br>
            <b>- Assistante Présentateur Tv - <a Href="Cecile.html">Cécile Heintzmann</a></b><br>
            <b>- Participante du jeu Tv - Aurélia Hannagan</b><br>
            <b>- La barmaid - Ilana Azira</b><br>
            <b>- Femme 1 - Coco Felgeirolle</b><br>
            <b>- Femme 2 - <a Href="Lucille.html">Lucille De Rochegonde</a></b><br>
          </p>
          </div>
        </div>
          <div Class="col-xs-12 col-sm-4">
            <div Class="Shake"><h2>ÉQUIPE TECHNIQUE</h2></div><br/>
            <div Class="textalign">
              <p>
              <b>Direction Artistique, Scénario : <a Href="Marina.html">Marina Ocádiz</a> Et <a Href="Florence.html">Florence de Talhouët</a><br>
              Chargé de Production : Brice Fontaine <br>
              Assistante De Production : Lauren Jean <br>
              Réalisation technique : Nicolas Khamsopha<br>
              Scripte : Alexandra Mulot<br>
              1er Assistant Réalisation : Arnaud Duvalhof<br>
              2ème Assistant Réalisation : Gabriel Poisson <br>
              3ème Assistant Réalisation : Alexis Lemonnier<br>
              Chef opérateur image : Louis Bergogné<br>
              1er Assistant caméra : Grégoire Kappes <br>
              2nd Assistante caméra : Cécile Lapaty <br>
              Chef électricien : Jean-Sébastien Poüs<br>
              Électricien : Frédéric Rouanet<br>
            </b></p></div></div>
          <div Class="textalign">
            <div Class="col-xs-12 col-sm-4"><p><b>
              Chef Machiniste, Électricien : Arthur Besseux<br>
              Chef opérateur son : Olivier Laporte<br>
              Chef décoratrice : Daphné Leport-Dumery<br>
              Chef décoratrice Plateau Tv : <a Href="Charlotte.html">Charlotte Gasser</a><br>
              Chef costumière : Florence de Talhouët <br>
              Assistante décoratrice, Accessoiriste, Habilleuse :
              <a Href="Gabrielle.html">Gabrielle Pennellier</a><br>
              Régisseuse générale : Alice Thiellement<br>
              Régisseurs : Kevin Lopez, Sophia Kebir <br>
              Maquilleuses : Clara Longi, Mélanie Belamy, Rebecca Mignot <br>
              Photographe plateau : Micha Ocádiz<br>
              Montage : <a href="paul.html">Paul Contargyris</a>, Nicolas Khamsopha <br>
              Étalonnage : Martin Jay <br>
              Mixage : Théo<br>
              Musique Originale : Théo Lawrence and the hearts et Mathieu Dulong<br> <br></b></b></p></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </b></b></p></div>

  <br><br>

<a id=intention></a>
<div class="content" >
  <div class="banner doudou">
      <div class="banner-content">

          <div class="col-xs-12 col-sm-offset-2 col-sm-9">
            <div class="shake"><h2>NOTE D'INTENTION</h2></div><br>
            <div class="textalign">
              <p>
              La volonté d’adapter Déplace le ciel au cinéma est le résultat d’une longue rêverie entre deux comédiennes passionnées par l’écriture scénique de Leslie Kaplan.</p>
              <p>
               C’est la dialectique entre le quotidien et le merveilleux, l’onirique et le réel, le conscient et l’inconscient, l’amour et la solitude, la vie et la mort, que nous voulons transmettre par l’image.  </p>
              <p>
              Le thème principal de ce court-métrage est la création. Dans une société actuelle où l'imagination et le surréel sont devenus les maîtres-mots à travers la télévision, la publicité qui nous envahissent chaque jour de plus en plus.</p>
              <p>
               Il  s'agit de réfléchir sur  la création. Pourquoi l'homme crée et agit ? Pourquoi l'homme écrit, pourquoi l'homme aime ? C'est aussi une réflexion sur la mort : mort de l'amour, mort de l'enfance, mort de l'idéal. Deuil libérateur et créateur.</p><p>
              C'est enfin et surtout  un court-métrage sur l'humain dans sa multiplicité et dans sa conflictualité.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie photos</h2></div>
      </div>
    <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/1.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/2.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/4.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/6.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/7.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/8.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/9.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/10.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/10.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/11.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/12.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/12.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/13.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/13.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/14.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/14.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/15.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/15.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/16.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/16.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/17.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/17.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/18.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/18.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/19.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/19.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/20.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/20.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/21.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/21.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/22.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/22.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/23.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/23.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/24.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/24.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/25.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/25.jpg"></a>
      </div>

      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/26.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/26.jpg"></a>
      </div>
       <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/27.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/27.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/28.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/28.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/29.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/29.jpg"></a>
      </div>

       <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/30.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/30.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/31.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/31.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/32.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/32.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/33.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/33.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/34.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/34.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/35.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/35.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/36.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/36.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/37.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/37.jpg"></a>
      </div>

      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/38.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/38.jpg"></a>
      </div>
       <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/deplaceleciel/39.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/deplaceleciel/39.jpg"></a>
      </div>
    </div>
  </div><br>
    <p>Credits : <a href="https://www.facebook.com/MichaOcadizPhotography/?ref=br_">Micha Ocádiz</a></p><br><br>

  </div>
  </div>
</div>

<br><br>

<a id=merci></a>

        <div class="banner-2">
          <div class="content">
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                  <div class="shake"><h2>REMERCIEMENTS</h2></div><br/>




<p>
Pour les subventions des Universités Sorbonne Nouvelle Paris 3,  Paris 1 Pantheon-Sorbonne, au CROUS de Paris et à la généreuse contribution de Christiane de Talhouët ainsi qu’aux participations Ulule de :</p><br>
<p>
Agnès Delaunay, Laure Delaunay, Wendy Dégrémont, Bertrand de Talhouët, Cécile de Talhouët, Claire-Marine de Talhouët, Gilles de Talhouët, Hugues de Talhouët, Isabelle de Talhouët, Samuel de Talhouët, Solène de Talhouët, Christine Fontaine, Paul Geze, Lucie Jardot, Lauren Jean, Genneviève Gaudin, Alexis Gouraud, Sybille Gouraud, Véronique Gouraud, Xavier Gouraud, Sybille Guillermit, Claire Henry, Amanda Kassis, Christine Letard, Taino Maline, , Sonsoles Martinez Ocadiz, Ophélie Molinier, Alexandre Ocadiz, Gabriel Ocadiz Luna, Ignacio Ocadiz Luna, Maria del Rosario Ocadiz Luna, Martin Ocadiz Luna, Gabrielle Pennellier, Pauline Rocca, Katerin Roméo, Anna Sanson et Catherine Servera.
</p>


<br>
<br>
</div>
</div>
      </div>
    </div>
</div>
</div>
