---
title: Emma Pujar

---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner planches2">
    <div class="banner-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1><b>Emma Pujar</b></h1><br/><br/>
          </div>

        <div class="col-xs-12 col-sm-offset-1 col-sm-3">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/emma1.jpeg');">
          </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-6">
          <h3><b>Présentation</b></h3>
            <div class="textalign">
          <p>Emma débute le théâtre par l’improvisation théâtrale puis entre au Conservatoire municipal de Maurepas à 16 ans avant d’auditionner pour le Conservatoire de St-Germain-en-Laye. Parallèlement elle valide une licence d’arts du spectacle à l’université Paris Ouest la Défense. Initiée à l’écriture automatique par Alexandra Badea, elle écrit et met en scène <a href="impressions-feminines.html">Impressions Féminines.</a> <br></p>
        </div>
        <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              1. Historique
            </a><br>
            <a href="#photo">
              2. Gallerie
            </a><br><br>
          </div>
        </div>

      <div class="row">
        <div class="shake">
          <div class="col-xs-12 col-sm-12 bas">
            <div class="shake"><h2><b>Retrouvez-moi</b></h2></div>
          </div></div>
          <div class="col-xs-12 col-sm-6 bas">
            <a href="/files/CV-emma-pujar.pdf"><h3 class="btn-medium louisa">Voir mon CV</h3></a> </div>
          <div class="col-xs-12 col-sm-6">
            <a href="https://www.linkedin.com/in/emma-pujar-358635134"><h3 class="btn-medium">Sur mon LinkedIn</h3></a>
          </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=equipe></a>
<div class="content">
<div class="banner-2">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-2">
           <div class="shake"><h2>Filmographie</h2></div><br/>
            <p><b>2016   -   <a href="ignition.html">Ignition</a> - </b> <i>
            </b> <i>  écrit et réalisé par Paul Contargyris
            </p>
          </i></i></p></div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-8">
        <p>
          <div class="shake"><h2>Théâtre</h2></div><br/>
          </i></p>
              <p><b>2017   -   <a href="impressions-feminines.html">Impressions Féminines</a> (re-création) <br>  </b> <i>
            </b> <i>Joué à la Flèche d’or en version courte dans le cadre du Festival Aliennes et à Nanterre Université (cdlp)</i>
            </p>

          <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2017   -   Demain dès l'aube - <i>Alex Adarjan</i> </b> <br/>Une création collective mise en scène par Alex Adarjan
            Compagnie Spleen Théâtre, 14 représentations sur Paris et sa banlieue.</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2017   -   Quelque chose de Cyrano - <i>Écrit et mis en scène par Aziz Hellal</i> </b> <br/> Compagnie Kamat Prod, 10 représentations au Théo Théâtre (Paris).</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2017   -   Populonirocratie  - <i>Écrit et mis en scène par Arnaud Patron</i> </b> <br/> Compagnie Faitsd’artscèniques, 4 représentations au Théâtre les enfants Terribles (Paris)</p>
            </div>

        </i>
      </i></p></div></i></p></div></div></div></div>

          <br>
          <br>

 <a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie photos</h2></div>
      </div>
    <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/1.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/2.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/4.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/6.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/7.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/emma/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/emma/8.jpg"></a>
      </div>

    </div>

    </div>
      <p><br></p>
  </div>
</div>





