---
title: Nos créations : Eva
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner alain">
    <div class="banner-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
              <h1>EVA</h1><br>
            </div>
            <div class="col-xs-12 col-sm-5">
              <div class="card non img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/eva.png');">
              </div>
              <h7>Sélectionné au Bermuda International Film Festival 2018 <br>(Oscar-Qualifying Festival)</h7>
            </div>

          <div class="col-xs-12 col-sm-offset-1 col-sm-6">
            <div class="shake"><h3><b>Résumé</b></h3></div>
              <div class="textalign">
               <p>A 19 ans, Eva est enceinte. Un choix s’impose à elle : garder son enfant ou demander un avortement ? </p><br>
               <p>Mais peut-elle prendre sa propre décision quand tous ses proches l’assaillent d’avis contraires ?<br>
               <b>Durée : 20 minutes</b></p>
              </div>
              <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Équipe</h4>
            </a>
            <a href="#photo">
              <h4>2. Galerie Photos</h4>
            </a>
          </div>
            </div>
          </div>
          <div class="row">
            <div class="shake"><p>
                <div class="col-xs-12 col-sm-12 bas">
                <h3><b>Contact</b></h3></div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-6 plusfat">
                <a href="https://www.facebook.com/eva.cdlp "><h3 class="btn-medium cv">Notre page Facebook</h3></a>            </p>
              </div>
              <div class="col-xs-12 col-sm-6 plusfat">
                <a  href="https://vimeo.com/232739945"><h3 class="btn-medium cv">Voir notre teaser</h3></a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
<br>
<br>

<a id=equipe></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
            <div class="shake"><h2>DISTRIBUTION</h2></div><br/>
              <p>
              <b><a href="eva.html">Eva : Emilie Waïche</a></b><br>
              <b>Maxime :  <a href="jb.html">Jean-Baptiste Henry</a></b><br>
              <b>Camille : <a href="gabrielle.html">Gabrielle Pennellier</a></b><br>
              <b>Médecin : Isabelle Mestre</b><br>
              <b>Oscar : Julien Bougot</b><br>
              <b>Maeva : Anaïs Pendeliau</b><br>
              </i></p>
            </div>
            <div class="col-xs-12 col-sm-4 textalign">
              <div class="shake"><h2>ÉQUIPE TECHNIQUE</h2></div><br/>
              <p>
              <b>Scénario, réalisation, montage : <a href="paul.html">Paul Contargyris</a></b><br>
              <b>1er assistante réalisation : <a href="charlotte.html">Charlotte Gasser</a></b><br>
              <b>Scripte : Maeva Lième</b><br>
              <b>Chef-opérateur image : Jérôme Léger</b><br>
              <b>1er assistant caméra : Gauthier Monnin</b><br>
              <b>2ème assistante caméra : Ilana Robas</b><br>
              <b>Chef-électricien : Basile Lebret</b><br>
              <b>Electricien : Romain Demeestere</b><br>
              <b>Electricienne : Clotilde Petrel</b><br>
              <b>Chef-machiniste : Antoine Belorgey</b><br>
              <b>Machiniste : Christie Marquigny</b><br>
            </p></div>
            <div class="col-xs-12 col-sm-4 textalign">
<p>
              <b>Chef-opérateur son : Maxime Neveu</b><br>
              <b>Assistant son : Stéphane Delort</b><br>
              <b>Chef-décoratrice : <a href="charlotte.html">Charlotte Gasser</a></b><br>
              <b>Chef-costumière : Rebecca Lafon</b><br>
              <b>Accessoiriste : Anaïs Pendeliau</b><br>
              <b>Régisseuse générale : Alix Lafosse</b><br>
              <b>Régisseuse : Laurène Arella</b><br>
              <b>Runners 1 : Guillaume Lapous, Brieux Rannaud</b><br>
              <b>Runners 2 : Mathias Barmont, Thomas Brouard</b><br>
              <b>Maquilleuses : Aurélie Abidal, Ashlie Wolf</b><br>
              <b>Photographe plateau : Quentin Farriol</b><br>
              <b>Mixage : Maxime Neveu</b><br>
              <b>Montage : <a href="paul.html">Paul Contargyris</a></b><br>
              <b>Etalonnage : <a href="paul.html">Paul Contargyris</a></b><br>
              <b>Motion design : Eliott Selles</b><br>
              </p></div>
              <br>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <br>
<br>

<div class="banner" >
    <div class="banner-content">
      <div class="col-sm-offset-4 col-sm-6">
        <div class="shake"><h2>NOTE D'INTENTION</h2></div><br>
       <div class="textalign"><p>
        La volonté d’adapter Déplace le ciel au cinéma est le résultat d’une longue rêverie entre deux comédiennes passionnées par l’écriture scénique de Leslie Kaplan.</p><br>
        <p>
         C’est la dialectique entre le quotidien et le merveilleux, l’onirique et le réel, le conscient et l’inconscient, l’amour et la solitude, la vie et la mort, que nous voulons transmettre par l’image.  </p><br>
        <p>
        Le thème principal de ce court-métrage est la création. Dans une société actuelle où l'imagination et le surréel sont devenus les maîtres-mots à travers la télévision, la publicité qui nous envahissent chaque jour de plus en plus.</p><br>
        <p>
         Il  s'agit de réfléchir sur  la création. Pourquoi l'homme crée et agit ? Pourquoi l'homme écrit, pourquoi l'homme aime ? C'est aussi une réflexion sur la mort : mort de l'amour, mort de l'enfance, mort de l'idéal. Deuil libérateur et créateur.</p><p>
        C'est enfin et surtout  un court-métrage sur l'humain dans sa multiplicité et dans sa conflictualité.
        </p>
  ​    </div>
    </div>
  </div>
  <br><br>
</div> -->


<br>
<br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie photos</h2></div>
      </div>
    <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/10.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/10.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/11.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/12.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/12.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/13.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/13.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/14.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/14.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/15.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/15.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/1.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/2.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/4.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/6.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/21.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/21.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/8.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/9.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/16.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/16.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/17.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/17.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/18.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/18.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/19.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/19.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/20.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/20.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/eva/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/eva/7.jpg"></a>
      </div>
    </div>
      <br>
      <p>Crédit photos : Quentin Farriol</p>
    </div>
    <br><br>
  </div>
</div>

<!-- <br>
<br>



  <div class="banner-2">
    <div class="content">
    <div class="col-sm-9">
      <div class="row">
        <div class="shake"><h2>REMERCIEMENTS</h2></div><br/>
            <div class="textalign">
            <p>
            Pour les subventions des Universités Sorbonne Nouvelle Paris 3,  Paris 1 Pantheon-Sorbonne, au CROUS de Paris et à la généreuse contribution de Christiane de Talhouët ainsi qu’aux participations Ulule de :</p><br>
            <p>
            Agnès Delaunay, Laure Delaunay, Wendy Dégrémont, Bertrand de Talhouët, Cécile de Talhouët, Claire-Marine de Talhouët, Gilles de Talhouët, Hugues de Talhouët, Isabelle de Talhouët, Samuel de Talhouët, Solène de Talhouët, Christine Fontaine, Paul Geze, Lucie Jardot, Lauren Jean, Genneviève Gaudin, Alexis Gouraud, Sybille Gouraud, Véronique Gouraud, Xavier Gouraud, Sybille Guillermit, Claire Henry, Amanda Kassis, Christine Letard, Taino Maline, , Sonsoles Martinez Ocadiz, Ophélie Molinier, Alexandre Ocadiz, Gabriel Ocadiz Luna, Ignacio Ocadiz Luna, Maria del Rosario Ocadiz Luna, Martin Ocadiz Luna, Gabrielle Pennellier, Pauline Rocca, Katerin Roméo, Anna Sanson et Catherine Servera.
            <br><br></p>
            <br>
            </div>
      </div>
    </div>
  </div>
</div>
 -->

