---
title: Florence de Talhouët
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner planches2">
    <div class="banner-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1><b>Florence de Talhouët</b></h1><br/>
          </div>

        <div class="col-xs-12 col-sm-offset-1 col-sm-2">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/florence/0.jpg');">
          </div>
        </div>

        <div class="col-xs-12 col-sm-offset-1 col-sm-8">
            <div class="textalign">
          <p>Florence obtient son Certificat d’Etudes Théâtrales au conservatoire Claude Debussy en 2013, à saint Germain-en-Laye et co-fonde le CDLP la même année.
          En 2014 et 2015, elle joue le rôle de la mère dans <a href="justelafindumonde.html">Juste la fin du monde.</a>
          En 2016, elle coécrit, coréalise et joue dans le court-métrage <a href="deplaceleciel.html">Déplace le ciel.</a></p>
          <p>Elle met en scène <a href="marina.html">Marina Ocádiz</a> dans <a href="louise.html">Louise</a>.
          Elle prend des cours de théâtre à la jeune troupe de l’Atalante (XVIIIème – Paris). En parallèle de ses projets théâtraux, Florence a obtenu une double-licence d’Histoire et d’Histoire de l’art. Elle est aujourd’hui en master 2 recherche en Histoire à la Sorbonne (Paris 1).
          <br></p>
        </div>
      </p></div>
        <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Parcours</h4>
            </a>
            <a href="#photo">
              <h4>2. Galerie Photos</h4>
          </a>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 bas">
            <h3><b>Retrouvez-moi </b></h3>
          </div></div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 bas">
              <a href="mailto:detalhouetflorence@gmail.com">
              <h3 class="btn-medium cv">Par Mail</h3></a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<br><br>

<a id=equipe></a>
<div class="content">
<div class="banner-2">
  <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-3">
          <div class="shake"><h2>Filmographie</h2></div><br/><div class="textalign">
            <p>
            <b>2017   -     <a href="deplaceleciel.html">Déplace le ciel</a></b> , <i>court-métrage (25’)</i> Production CDLP <br>
             <i>Co réalisatrice, co-scénariste, comédienne et costumière. </i></p>
          </div></div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-7">
            <p><div class="shake"><h2>Théâtre</h2></div><br/></p><div class="textalign">
            <p><b>2017   -   <a href="louise.html">Louise</a> - <i>Pièce de théâtre adaptée du roman La psychanaliste de Leslie Kaplan<br></i></b>
            <i>Metteur en scène</i></p></div><br>
            <p><i class="fa fa-minus" aria-hidden="true"><br></i></p><div class="textalign"><br>
            <p><b>2015-2016   -   <a href="justelafindumonde.html">Juste la fin du monde</a>  - <i>Jean-Luc Lagarce. Mise en scène par Isabelle Mestre et scénographié par Claire Chavanne</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78).
            Festival étudiant de Cabourg, Félicitations du Jury, avril 2016 <br>
            <i>Comédienne dans le rôle de La mère. </i></div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
          <br>
          <br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie Photos</h2></div>
      </div>
  <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/12.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/12.jpg"></a>
      </div>

      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/2.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/4.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/6.jpg"></a>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/7.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/8.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/9.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/10.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/10.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/11.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/florence/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/florence/1.jpg"></a>
      </div>

    </div><br>
    <div class="row"><p>Credits : Charlotte Gasser</p><br><br></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

















