---
title: Gabrielle Pennellier
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner-planches2">
    <div class="banner-content">
      <div class="row">
          <div class="col-xs-12 col-sm-12 prenom">
            <h4>Gabrielle Pennellier</h4><br/><br/>
          </div>
        <div class="col-xs-12 col-sm-offset-5 col-sm-4">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/gabrielle2.jpeg');">
          </div>
        </div><br>
        <div class="col-xs-12 col-sm-offset-4 col-sm-5 textalign">
          <p>Gabrielle entre au Conservatoire de St-Germain-en-Laye en 2014 en parallèle de sa licence Humanité Art du Spectacle à l’Université Nanterre Paris Ouest.</p><br>
          <p>Multi-fonction, Gabrielle sait se rendre indispensable au collectif en tant que comédienne, assistante à la mise en scène, assistante à la réalisation, scripte, décoratrice, accessoiriste et habilleuse !</p>
        </div>
     </div>
    </div>
  </div>
</div>








