---
title: Nos créations : Ignition
---

<%= partial "headerfr" %>


<div class="content" >


        <div class="banner" >
      <div class="banner-content">
        <%= image_tag "affiche.jpg", style:'width: 150px;' %>
        <h2>Ignition
</h2>
        <p>Film <i>de Paul Contargyris</i></p>
        <p>
            Clara et son père Manuel vivent dans la forêt, où ils cultivent des truffes. Ils organisent une soirée d'anniversaire pour leur voisine orpheline, Anaïs. Pendant la nuit, celle-ci disparaît. Au réveil, on cherche à comprendre ce qui s'est passé. La confusion fait ressurgir d’anciennes rivalités entre les invités et le tuteur d'Anaïs. Les soupçons montent, et les interrogatoires deviennent de plus en plus insidieux.
      </div>
    </div>

INFOS TECHNIQUES
Drame, thriller / 65 minutes / 4K / 1.85:1
France – 2016

LISTE ARTISTIQUE
Clara : Marina Ocádiz
Manuel : J. Eduardo Peñarrieta
Hélène : Alice Méchin
Sébastien : Hugo Barnas
Guillaume : Arnaud Patron
Anaïs : Emma Pujar

LISTE TECHNIQUE
Scénario, réalisation : Paul Contargyris
1er assistant réalisation : Arno Nyme
2ème assistant réalisation : Gabrielle Pennellier
Chef-opérateur image : Pierre Win
Chef-électricien : Basile Lebret
Chef-opérateur son : Mario Loupo Robert
Assistant son : Stéphane Delort
Scripte : Gabrielle Pennellier
Régisseur général : Franck Filippelli
Régisseuse plateau : Nolwen Duquenoy
Maquilleuse : Maureen Gonzalez
Musique : Virgile Maruani, Tahina Chen

FESTIVALS
Prix :
Buenos Aires ANS Festival 2016 : Prix de la meilleure actrice de long-métrage (Marina Ocádiz)
Depth of Field International Film Festival 2016 : Prix Outstanding Excellence
California Film Awards 2017 : Silver Award, meilleur film étranger

Sélections officielles :
Auckland IFF 2016 / Praxis IFF 2016 / Jehlum Film Festival 2016 / Sunlight IFF 2016 / Philadelphia Independant Film Awards 2017 / Paris Independant Film Festival 2016 /
Sunrise IFF 2016 / Near Nazareth Festival 2017




    <div class="banner-2">
      <div class="banner-content">

<br/>

<div class="shake"><h2>Pourquoi ce film ?</h2></div><br/>
<p>"Ignition" renvoie au motif central du feu, omniprésent dans le film. Tant dans l'image et le son que dans les enjeux scénaristiques et les motivations des protagonistes, le feu ("ignis" en latin) est l'élément de départ de cette création.

.</p>
<p>
Cela se traduit à l'image par une esthétique en clair-obscur, propre aux films noirs dont notre histoire s'inspire. L'intrigue se rapproche quant à elle d'un "whodunnit", soit un jeu de Cluedo et de fausses pistes avec le spectateur.

</p>
<p>Il s'agissait de mettre en scène une dynamique d'entropie dans un système fermé, où la vérité importe moins que la perception que chacun peut s'en faire. Le ton et l'évolution de la fable sont ironiques. Le but était de changer progressivement le jugement des spectateurs envers les personnages, au fur et à mesure des pivots narratifs.

.</p>
<p>
Et l'équipe : Avec Marina Ocádiz, J. Eduardo Peñarrieta, Arnaud Patron, Emma Pujar, Alice Mechin, Hugo Barnas. Mise en scène : Écrit et réalisé par Paul Contargyris 1er assistant réalisation Arno Nyme 2ème assistante réalisation Gabrielle Pennellier Image : Chef opérateur image Pierre Win Chef électricien Basile Lebret Son : Chef opérateur son Mario Loupo Robert 1er ssistant son Stéphane Delort Régisseurs : Régisseur général Franck Filippelli Régie plateau Nolwen Duquenoy Makeup : Maquillage Maureen Gonzalez Post-production : Montage Paul Contargyris Mixage Mario Loupo Robert Musique originale Tahina Chen & Virgile Maruani

​</p>
<p><u>Distribution : </u>

​

Clara : Marina Ocádiz

Manuel : J. Eduardo Peñarrieta

Guillaume : Arnaud Patron

Anaïs : Emma Pujar

Hélène : Alice Mechin

Sébastien : Hugo Barnas.</p>
<p><u>Contact du chef de projet :</u>

Paul Contargyris / 06.71.91.51.83</p>
<%= image_tag "festival.png" %>
      </div>
    </div>
</div>
