---
title: Nos créations : Ignition
---


<%= partial "headerfr" %>
<div class="content" >
  <div class="banner alain">
    <div class="banner-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1 class="gregory">IGNITION</h1><br/><br/>
          </div>

          <div class="col-xs-12 col-sm-offset-1 col-sm-5">
            <div class="card non img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/affiche.jpg');">
            </div>
            <div class="textalign">
            <h7>- Buenos Aires ANS Festival (2016) -  <i>Prix de la meilleure actrice de long-métrage - <a href="marina.html">Marina Ocádiz</a></i></h7> <br/>
             <h7>- California Film Awards (2017) -  <i>Silver Award, meilleur film étranger</i></h7>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="shake"><h2> Drame, thriller (65')</h2>
          </div>

          <div class="textalign">
             <p>Clara et son père Manuel vivent dans la forêt, où ils organisent une soirée d’anniversaire pour leur voisine orpheline, Anaïs. Pendant la nuit, celle-ci disparaît.</p>
            <p>
          Au réveil, on cherche à comprendre ce qui s’est passé. Les soupçons montent, et les interrogatoires deviennent de plus en plus insidieux.
          </p>
          </div>
        </p>
           <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Équipe</h4>
            </a>
            <a href="#intention">
              <h4>2. Note d'intention</h4>
            </a>
            <a href="#photo">
              <h4>3. Galerie Photos</h4>
            </a>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <div class="shake"><p><h2><b>Contact</b></h2></div>
          </div>
          <div class="col-sm-6 plusfat">
            <a href="/files/Projet-Ignition.pdf"><h3 class="btn-medium cv">Notre dossier de presse</h3></a>
          </div>
          <div class="col-sm-6 plusfat">
            <h3>Paul Contargyris : 06.71.91.51.83</h3></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<a id=equipe></a>
 <div class="banner-2">
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-1 col-sm-3">
          <div class="shake"><h2>DISTRIBUTION</h2></div><br/>
            <div class="textalign"><p><b>- Clara : <a href="marina.html">Marina Ocádiz</a></b><br>
            <b>- Manuel : J. Eduardo Peñarrieta</b><br>
            <b>- Hélène : <a href="alice.html">Alice Méchin</a></b><br>
            <b>- Sébastien : Hugo Barnas</b><br>
            <b>- Guillaume : Arnaud Patron</b><br>
            <b>- Anaïs : <a href="emma.html">Emma Pujar</a></b><br></p></div>
          </div>
          <div class="col-xs-12 col-sm-4">
          <div class="shake"><h2>ÉQUIPE TECHNIQUE</h2></div><br/>
            <div class="textalign">
            <p>
            <b>- Scénario, réalisation : <a href="paul.html">Paul Contargyris</a></b><br>
            <b>- 1er assistant réalisation : Arno Nyme</b><br>
            <b>- 2ème assistant réalisation : <a href="gabrielle.html"> Gabrielle Pennellier</a></b><br>
            <b>- Chef-opérateur image : Pierre Win</b><br>
            <b>- Chef-électricien : Basile Lebret</b><br>
            <b>- Chef-opérateur son : Mario Loupo Robert</b><br>
            <b>- Assistant son : Stéphane Delort</b><br>
            <b>- Régisseur général : Franck Filippelli</b><br>
            <b>- Régisseuse plateau : Nolwen Duquenoy</b><br>
            <b>- Maquilleuse : Maureen Gonzalez</b><br>
            <b>- Montage : <a href="paul.html">Paul Contargyris</a></b><br>
            <b>- Mixage : Mario Loupo Robert</b><br>
            <b>- Musique : Virgile Maruani, Tahina Chen</b>
          </div>
        </div>
          <div class="col-xs-12 col-sm-3">
          <div class="shake"><h2>PRIX</h2></div><br/>
            <div class="textalign">
            <p>
            <b>- Meilleur film étranger : <i>California Film Awards 2016</i></b><br>
            <b>- Meilleure actrice (Marina Ocadiz) : <i>Festival ANS de Buenos Aires 2016</i></b><br>
            <b>- Sélections : <i>Auckland IFF 2016, Praxis IFF 2016, Paris IFF 2016, Jehlum IFF 2016, Festival Near Nazareth 2017</i></b><br><br><br>
          </div>
        </div>

        <br><br>
      </div>
    </div>
  </div>

<br><br>

<a id=intention></a>
<div class="content" >
  <div class="banner" >
    <div class="banner-content">
      <div class="row col-sm-offset-2 col-sm-8">
      <h2>NOTE D'INTENTION</h2><br>
      <div class="col-sm-8 col-sm-offset-2 textalign">
      <p>"Ignition" renvoie au motif central du feu, omniprésent dans le film. Tant dans l'image et le son que dans les enjeux scénaristiques et les motivations des protagonistes, le feu ("ignis" en latin) est l'élément de départ de cette création.</p>
      <p>
      Cela se traduit à l'image par une esthétique en clair-obscur, propre aux films noirs dont notre histoire s'inspire. L'intrigue se rapproche quant à elle d'un "whodunnit", soit un jeu de Cluedo et de fausses pistes avec le spectateur.
      </p>
      <p>Il s'agissait de mettre en scène une dynamique d'entropie dans un système fermé, où la vérité importe moins que la perception que chacun peut s'en faire. Le ton et l'évolution de la fable sont ironiques. Le but était de changer progressivement le jugement des spectateurs envers les personnages, au fur et à mesure des pivots narratifs.
      </p><br>
      </div>
    </div>
  </div>
</div>

<br><br>


<a id=photo></a>
          <div class="banner-2">
            <div class="row">
              <div class="col-xs-12 col-sm-12 shake">
                  <div class="colormain">
                    <h2>Galerie photos</h2>
                  </div>
                </div>

            <div class="gallery">
              <div class="row">
                <div class="col-sm-4 sizing-picture-allonge"><br>
                <a href="/images/ignition/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/ignition/1.jpg"></a>
                </div>
                <div class="col-sm-4 sizing-picture-allonge"><br>
                  <a href="/images/ignition/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/ignition/2.jpg"></a>
                </div>


                <div class="col-sm-4 sizing-picture-allonge"><br>
                  <a href="/images/ignition/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/ignition/3.jpg"></a>
                </div>

                  <div class="col-sm-4 sizing-picture-allonge"><br>
                  <a href="/images/ignition/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/ignition/4.jpg"></a>
                </div>
                <div class="col-sm-4 sizing-picture-allonge"><br>
                  <a href="/images/ignition/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/ignition/5.jpg"></a>
                </div>
                <div class="col-sm-4 sizing-picture-allonge"><br>
                  <a href="/images/ignition/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/ignition/6.jpg"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


