---
title: Collectif dans la peau
---


<%= partial "headerfr" %>

<div class="content" id="index">
    <div class="banner index responsive">
      <div class="banner-content">
        <div class="logoindex shake">
          <%= image_tag "logo-blanc.png", style:'width: 150px;' %>
        </div>
        <div class="container titrindex shake">
        <h2>Le Collectif Dans La Peau</h2><br/>
        </div>
        <div class="shake">
        <!-- <a  href="nosfondateurs.html" class="btn-medium">Découvrir nos membres</a> -->
        </div>
      </div>
    </div>
</div>
