---
title: Jean-Baptiste Henry
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 20%), url(/images/fonddemembre1.jpg);">
    <div class="banner-content" id="marina">
      <div class="container">
        <div class="row marina">
          <div class="col-xs-12 col-sm-12 prenom">
            <h7>Jean-Baptiste Henry</h7><br/><br/>
          </div>
        </div>
      </div>
      <div class="row resu">
        <div class="col-xs-12 col-sm-offset-1 col-sm-1">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/jb1.jpeg');">
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-7">
          <p>C'est en souhaitant canaliser une énergie trop souvent débordante que Jean-Baptiste a fait ses premiers pas au théâtre à l'âge de sept ans. Après être passé par des cours de théâtre moderne ainsi qu'une ligue d'improvisation à Montréal, il est entré au Conservatoire de St-Germain-en-Laye en 2010. En 2014 et 2015 il obtient respectivement son C.E.T puis son D.E.T. et quitte alors le conservatoire. Aujourd'hui étudiant à Grenoble, il est en charge de la mise en scène de la Comédie Musicale de Grenoble EM et également membre titulaire de l'équipe d'improvisation Impropulsion.</p>
          <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="row plusfat">
          <div class="col-sm-12 bas">
            <div class="shake"><h2><b>Retrouvez-moi :</b></h2></div>
          </div>
          <div class="col-sm-3">
            <a href="https://vimeo.com/marinaocadiz"><p>Sur mon compte Vimeo</p></a>
            <a href="https://www.facebook.com/marina.ocadiz" class="href"><p>Sur mon compte Facebook</p></a>
          </div>
          <div class="col-sm-3 plusfat">
            <a href="https://www.imdb.com/name/nm7451199/"><p>Sur mon compte IMDb </p></a>
            <a href="http://marinaocadiz.wixsite.com/comedienne"><p>Sur mon site de présentation</p></a>
          </div>
          <div class="col-sm-3 plusfat">
            <a href="/files/CV-Marina-Ocádiz.pdf"><p>Télécharger mon CV </p></a>
             <a href="https://vimeo.com/245163524"><p>Découvrez ma bande démo</p></a>
          </div>
          <div class="col-sm-3 plusfat">
            <p>marina.ocadiz@gmail.com</p>
            <p>06.49.71.70.88 </p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-2">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-2">
          <div class="shake"><h2>Filmographie</h2></div><br/>
            <p>
            <b>2017   -     Déplace le ciel</b> , <i>court-métrage (25’)</i>  Production CDLP</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>

            <p><b>2016     -    Ignition</b> , <i>long-métrage (65’)</i>Production CDLP.</p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p><div class="shake"><h2>Théâtre</h2></div><br/></p>
            <p><b>2016/2018   -   Michka - <i>Alex Adarjan</i> </b> <br/> Foyer de Neuville sur Oise (95), décembre 2016.
            Théâtre Darius Milhaud (Paris 19), janvier 2018.</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2017   -   Impréssions féminines - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
            Théâtre de Verre (Paris 20), janvier 2017.</p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><b>2015-2016   -   Juste la fin du monde  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
            Festival étudiant de Cabourg, Félicitations du Jury, avril 2016</p>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="shake"><h2>Formation</h2></div><br/>
            <p><b>Master 1 Théâtre</b> <i>
            </b> <i>  Université Sorbonne Nouvelle Paris 3
            </p>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
            <b>Licence Théâtre / Cinéma – Audiovisuel</b> <i>
            </b> <i>Mention Très Bien</i>  Université Sorbonne Nouvelle Paris 3
            </p>
             <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
            <b>Diplôme d’Etudes Théâtrales</b> <i>Mention Très Bien</i>  Conservatoire à rayonnement Départemental Claude Debussy à Saint-Germain-en-Laye
            </p>

             <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
            <b>Masterclass</b>  Cours Florent, Athanor Berlioux, Conservatoire à rayonnement
            Départemental Claude Debussy à
            St-Germain-en-Laye
            </p>
            </div>
          </div>
          <br>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-sm-3 col-sm-offset-2"></div>
                <div class="col-sm-3 shake">
                  <h2>Galerie photos</h2>
                </div>
                <div class="col-sm-4">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                  <% link_to '/images/jb/1.jpg' do %>
                    <%= image_tag '/images/jb/1.jpg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                   <% link_to '/images/jb1.jpeg' do %>
                    <%= image_tag '/images/jb1.jpeg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
                <div class="col-sm-3">
                    <% link_to '/images/jb2.jpeg' do %>
                    <%= image_tag '/images/jb2.jpeg', style:"width: 311px; padding:10px;"  %>
                  <% end %>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>








