
<%= partial "headerfr" %>
<div class="content" >
  <div class="banner planches">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1><b>JUSTE LA FIN DU MONDE (2014-2015)</b></h1><br>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-3">
            <div class="card non img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/theatre1.jpg');">
            </div>
          </div>

          <div class="col-xs-12 col-sm-offset-1 col-sm-6">
            <p><h4>Une pièce de Jean-Luc Lagarce, mise en scène par Isabelle Mestre</h4>
            <div class="textalign">
               <p>Un « fils prodigue » retourne dans sa famille après des années d’absence pour annoncer sa mort prochaine.
              Mais rien ne se passe comme prévu.</p>
              <p>
              On ressasse le passé mais on échoue à créer des liens. Ce fils au retour tant attendu est au fil du temps devenu un inconnu parmi les siens, et il repartira sans avoir rien dit.
            <br></p>
            </div>
            <div class="col-xs-12 col-sm-12">
            <a href="#teaser">
              <h4>1. Teaser</h4>
            </a>
            <a  href="#equipe">
              <h4>2. Équipe</h4>
            </a>
            <a href="#intention">
              <h4>3. Note d'intention</h4>
            </a>
            <a href="#photo">
              <h4>4. Galerie Photos</h4>
            </a>
          </div>
          </div>
        </div>
      <div class="row">
        <div class="shake">
          <div class="col-xs-12 col-sm-12 bas">

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <a href="/files/Projet-Juste-la-Fin-du-Monde.pdf" target="_blank"><h3 class="btn-medium cv">Notre dossier de presse</h3></a></p></div>
          <div class="col-xs-12 col-sm-6">
              <a href="mailto:collectif.danslapeau@gmail.com">
              <h3 class="btn-medium cv">Contact par Mail</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</p></div>


<br>
<br>

<a id=teaser></a>
<div class="content">
 <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
          <h2>TEASER</h2>
        <br/>
        <div class="col-xs-12 col-sm-12">
        <iframe width="350" height="350" src="https://www.youtube.com/embed/IQP5n9JkybY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br><br><br></div>
    </div>
    </div>
  </div>
</div>

<br>
<br>

<a id=equipe></a>
<div class="content">
 <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
          <div class="shake"><h2>DISTRIBUTION</h2></div><br/>
            <p>
            <b>Louis : <a href="paul.html">Paul Contargyris</a> / Alex Adarjan</b><br>
            <b>Suzanne, sa sœur : <a href="cecile.html">Cécile Heintzmann</a> / <a href="marina.html">Marina Ocádiz</a> </b><br>
            <b>Antoine, leur frère : <a href="jb.html">Jean-Baptiste Henry</a></b><br>
            <b>Catherine, femme d’Antoine : <a href="charlotte.html">Charlotte Gasser</a>, <a href="lucille.html">Lucille de Rochegonde</a> </b><br>
            <b>La Mère : <a href="alice.html">Alice Méchin</a> / <a href="florence.html">Florence de Talhouët</a></b><br>
          </div>
          <div class="col-xs-12 col-sm-offset-1 col-sm-5">
          <div class="shake"><h2>ÉQUIPE TECHNIQUE</h2></div><br/>
            <div class="textalign">
            <p>
            <b>Une pièce de Jean-Luc Lagarce</b><br>
            <b>Mise en scène par Isabelle Mestre</b><br>
            <b>Scénographie de Claire Chavanne</b><br>
            <b>Une création du Collectif Dans La Peau</b></p><br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>

<br><br>

<a id=intention></a>
<div class="content">
  <div class="banner" >
    <div class="banner-content">
      <div class="col-xs-12 col-sm-offset-1 col-sm-11"><br><br>
      <div class="shake"><h2>NOTE D'INTENTION</h2></div>
        <div class="textalign"> <p>Du fait de notre intérêt pour   Jean-Luc Lagarce. Nous avons la certitude que cet auteur majeur subit un phénomène comparable à celui d’un Anton Tchekhov en son temps: il écrit des pièces comiques qui sont interprétées par nombre de ses contemporains dans un style tragique, voire pathétique. Nous avons voulu retrouver et mettre en avant toute sa puissance comique, euphorique même, et la profonde lucidité qui émane de son œuvre.</p>
        <p>Par ailleurs, avec Juste la fin du monde, nous plongeons au cœur de la poésie, celle d’une histoire intemporelle et vraisemblable, dans un lieu pourtant indéfini. Nous sommes dans “ce qui pourrait être”, “ce qui a été” et “ce qui est”. Dans ce huis-clos, les personnages cherchent à exprimer leurs identités de manière juste et vraie, alors qu’ils sont incapables de rentrer en communication les uns avec les autres. Nous avons été marqués par l’aspect universel de cette famille; nous pouvons tous nous identifier à ces personnages et, comme eux, nous interroger sur la place qui est la nôtre. Jean-Luc Lagarce met en exergue comment les rapports familiaux et intergénérationnels peuvent être le théâtre de rancœurs, de frustrations et de non-dits, malgré l’amour qu’on se porte. Cette recherche du mot juste, qui passe par le monologue, par le dialogue intérieur comme extérieur… n’est-elle pas l’une des problématiques à laquelle l’homme (et l’acteur particulièrement) se confronte perpétuellement ?</p>
        <p>Pour exprimer cette universalité, nous avons pris la liberté d’affirmer notre compréhension de l’œuvre, induite par ce que nous sommes aujourd’hui. Le choix de la duplicité des personnages découle de leur pluralisme, de leur ambivalence. Les personnages ne cessent de dialoguer avec eux-mêmes, en révélant leurs propres conflits intérieurs. Ils ne contrôlent pas la dualité en eux qui les oppose. Avec ces «personnages doublés», nous confrontons les différentes personnalités ancrées en chacun d’eux. L‘action se déroule dans un endroit neutre, sur une scène volontairement amoindrie. Seule la lumière viendra habiller l’espace. Le lieu de la représentation, la maison de famille, est différent pour chaque personnage. Il évoque un passé connu propre à chacun et qui ne cesse d’évoluer. Nous sommes alors dans un lieu non concret, un lieu ésotérique, un lieu de la pensée, peut être un lieu des fantasmes de chacun. C’est le lieu familial, vivant dans les souvenirs et mort dans la réalité… disparu.</p></div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
    <div class="col-xs-12 col-sm-12 shake">
        <div class="colormain"><h2>GALERIE PHOTOS</h2></div>
      </div>
        <div class="gallery">
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/justelafindumonde/6.jpg" data-lightbox="mygallery" data-title=""><img src="/images/justelafindumonde/6.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/justelafindumonde/2.jpg" data-lightbox="mygallery" data-title=""><img src="/images/justelafindumonde/2.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/justelafindumonde/3.jpg" data-lightbox="mygallery" data-title=""><img src="/images/justelafindumonde/3.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/justelafindumonde/4.jpg" data-lightbox="mygallery" data-title=""><img src="/images/justelafindumonde/4.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/justelafindumonde/1.jpg" data-lightbox="mygallery" data-title=""><img src="/images/justelafindumonde/1.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/justelafindumonde/5.jpg" data-lightbox="mygallery" data-title=""><img src="/images/justelafindumonde/5.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





