---
title: Nos créations : Louise
---

<%= partial "headerfr" %>

<div class="content">
  <div class="banner planches">
    <div class="banner-content">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1><b>LOUISE</b></h1>
      </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-3">
          <div class="card oui img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/louise/3.jpg');">
          </div>
        </div>

        <div class="col-xs-12 col-sm-offset-1 col-sm-6">
          <h3>Adapté et mis en scène par <a href="florence.html">Florence de Talhouët.</a></h3>
              <p><div class="shake"><h3><b>Résumé</b></h3></div>
            <div class="textalign">
              <p>Louise nous raconte l’histoire et la perception du monde d’une jeune femme et comédienne: Louise.
              Cette pièce dépeint son rapport au théâtre, à l’amour, à la famille, mais aussi le lien à son travail d’introspection. <br>
            <i> D’après le roman Le Psychanalyste de Leslie Kaplan.</i></p>
            </div>
            <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Équipe</h4>
            </a>
            <a href="#intention">
              <h4>2. Note d'intention</h4>
            </a>
            <a href="#photo">
              <h4>3. Gallerie</h4>
            </a>
             <a href="#merci">
              <h4>4. Citations</h4>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 bas">
            <div class="shake"><h3><b>Contact</b></h3></div></div></div>
            <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 bas">
            <a href="/files/Projet-Louise.pdf"><h3 class="btn-medium cv louisa">Notre dossier de presse</h3></a> </div></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<br><br>

<a id=equipe></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
            <div class="shake"><h2>ÉQUIPE</h2></div><br/>
              <p>
              <b>Louise : <a href="marina.html">Marina Ocádiz</a></b><br>
              <b>Mise en scène : <a href="florence.html">Florence de Thalouët</a></b><br>
              <b>Régie Lumière : Tristant Héraud</b><br></p>
            </div>
            <div class="col-xs-12 col-sm-6 textalign">
              <div class="shake"><h2>REPRÉSENTATIONS</h2></div><br/>
              <p>
              <b>Festival À Contre Sens Les 15, 16 et 22 mars 2018 - <i>Université Sorbonne Nouvelle - Paris 3.</i></b><br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<a id=intention></a>
<div class="content" >
  <div class="banner" >
    <div class="banner-content">
       <div class="col-xs-12 col-sm-offset-2 col-sm-9">
        <h2>NOTE D'INTENTION</h2>
    <div class="textalign">
        <p>
        Louise s’inscrit dans la continuité d’un travail commencé avec <a href="marina.html">Marina Ocádiz</a> sur le projet Déplace le ciel (un court-métrage du CDLP mettant en image la pièce de théâtre éponyme de Leslie Kaplan). </p>
        <p>
        Dans ce court-métrage deux femmes se confrontent l’une à l’autre comme deux visions d’un même monde, comme deux facettes d’une même pièce. Elles tentent d’écrire une pièce de théâtre, de s’unir dans la création, seul moyen pour elles de se retrouver et d’échapper à  la banalité et à la brutalité du monde qui les entoure. </p>
        <p>
        Louise est de la même manière une réflexion sur la recherche de sens dans un monde qui semble de pas en avoir. Mais Louise semble déjà être le deuxième seuil de cette réflexion. Seule sur scène, Louise incarne, dès lors, ces deux femmes qui se chamallaient dans Déplace le ciel, et matérialise leur unicité.  Le dualisme qui existait dans Déplace le ciel est dépassé. </p>
        <p>
        La réflexion de la jeune femme n’est plus qu’une. Si Louise continue de se poser des questions, elle le fait par le biais du psychanalyste, mais aussi dans ses dialogues avec Vincent, avec son metteur en scène et avec les objets qui l’entourent : les papiers, les collages, les peintures et les photographies. Plus profondément encore, Louise dialogue avec le public.  </p><p>
        Ainsi, le spectateur suit la déambulation mentale et gestuelle de Louise. Debout, assise, courant, hurlant, parlant, Louise nous raconte son histoire, ses pensées et ses rêves. Si l’histoire de Louise et si les mots de Louise peuvent paraitre trop banals,trop entendus, trop vécus, toutefois, Louise s’autorise à parler, à nous parler. Louise se souvient, se remémore. Louise questionne et se questionne. En jouant, en peignant, en chantant et en riant, en pleurant parfois, Louise tente de comprendre ce qu’elle n’a pas compris et ce qu’elle croit ne pouvoir comprendre.
        </p>
    </div>
  </div>
</div>
</div>
</div>

<br><br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie photos</h2></div>
      </div>
    <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/10.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/10.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/16.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/16.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/9.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/13.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/13.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/14.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/14.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/15.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/15.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/11.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/6.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/17.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/17.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/8.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/louise/12.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/louise/12.jpg"></a><br><br>
      </div>
    </div>

    </div>

    </div>
      <p><br></p>
  </div>
</div>

<br><br>

<a id=merci></a>
  <div class="banner-2">
    <div class="content">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="shake"><h2>CITATIONS</h2></div><br/>
            <div class="textalign">
              <p>“Et voilà ça me fait pleurer. Je ne sais pas pourquoi je pleure, je ne suis pas triste. Je sais que je ne peux pas ne pas jouer. C’est en jouant que je pense, que je me sens vivante, c’est tout. Jouer, c’est ma façon d’aborder le monde. Si on ne le fait pas, on est avalé.”</p><br><br>
              <p>“Il est en proie à ce langage vide, à ce langage fou parce qu’il a tué la parole. Il a détruit ce qui rend la parole possible, le lien.”</p>
            </div>
      </div>
    </div>
  </div>
</div>
