---
title: Lucille de Rochegonde

---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner planches2">
    <div class="banner-content">
      <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1><b>Lucille de Rochegonde</b></h1><br/><br/>
          </div>

        <div class="col-xs-12 col-sm-offset-2 col-sm-3">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/lucille1.jpeg');">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="textalign">
          <p>Lucille a commencé le théâtre à 8 ans en Angleterre pour apprivoiser la langue, ce qui fut une révélation.
            <p>Elle n'a pas arrêté depuis ce moment-là. Puis à l'âge de 16 ans elle a rejoint le conservatoire de St-Germain-en-Laye, dont elle a obtenu le certificat en 2014 avec mention très bien. </p>
            <p>Elle a par la suite vécu à Rennes où elle a été membre d'un collectif et d'une troupe. En septembre 2015, elle intègre l'école Claude Mathieu où elle commence une formation de trois ans.</p>
        </div>
      </p></div>

        <div class="col-xs-12 col-sm-12">
            <a  href="#equipe">
              <h4>1. Parcours</h4>
            </a>
            <a href="#photo">
              <h4>2. Gallerie</h4>
            </a>
          </div>
        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 bas">
              <h2><b>Retrouvez-moi</b></h2>
            </div>

          <div class="col-xs-12 col-sm-6">
            <a href="/files/CV-lucille-rochegonde.pdf"><h3 class="btn-medium cv">Voir mon CV</h3></a>
         </div>
         <div class="col-xs-12 col-sm-6">
            <a href="mailto:lucille.de.rochegonde@gmail.com"><h3 class="btn-medium cv">Par mail</h3></a>
          </div>
        </div>
        </div>
      </div>
    </div>


<br><br>

<a id=equipe></a>
<div class="content">
<div class="banner-2">
  <div class="banner-content">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="shake"><h2>Filmographie</h2></div><br/>
            <div class="textalign"><p>
            <b>2017   -     <a href="deplaceleciel.html">Déplace le ciel</a></b><br><i>court-métrage (25’)</i>  Production CDLP</p></div>
            </div>

          <div class="col-xs-12 col-sm-5">
            <p><div class="shake"><h2>Théâtre</h2></div><br/></p><div class="textalign">
            <p><b>2016/2018   -   Michka - <i>Alex Adarjan</i> </b> <br/> Foyer de Neuville sur Oise (95), décembre 2016.
            Théâtre Darius Milhaud (Paris 19), janvier 2018.</p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign">
            <p><b>2017   -   <a href="impressions-feminines.html">Impressions féminines</a> - <i>Emma Pujar</i> </b> <br/>  Université Paris Ouest Nanterre, mars 2016.
            Théâtre de Verre (Paris 20), janvier 2017.</p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign">
            <p><b>2015-2016   -   <a href="justelafindumonde.html">Juste la fin du monde</a>  - <i>Jean-Luc Lagarce</i> </b> <br/>  Théâtre Alexandre Dumas et Salle Tati de Saint-Germain-en-Laye (78)
            Festival étudiant de Cabourg, Félicitations du Jury, avril 2016</p></div>
          </div>
          <div class="col-xs-12 col-sm-4">

            <div class="shake"><h2>Formation</h2></div><br/><div class="textalign">

            <p><b>3 ème année au sein de l’école Claude Mathieu et création Collective autour de la pièce de Ionesco, Le Roi se Meurt.</b> <i><br>
            </b> <i>  Université Sorbonne Nouvelle Paris 3
            </p></i></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p>
          <div class="textalign"><p>
            <b>Licence Théâtre / Cinéma – Audiovisuel <br>
            </b> <i>Mention Très Bien</i>  Université Sorbonne Nouvelle Paris 3
            </p>
          </div>
             <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p>
            <b>Diplôme d’Etudes Théâtrales <br> </b> <i>Mention Très Bien</i>  Conservatoire à rayonnement Départemental Claude Debussy à Saint-Germain-en-Laye
            </p></div>

             <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <p><div class="textalign"><p>
            <b>Masterclass</b><br>  Cours Florent, Athanor Berlioux, Conservatoire à rayonnement
            Départemental Claude Debussy à
            St-Germain-en-Laye <br><br>
            </p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

          <br>
          <br>

<a id=photo></a>
<div class="content">
<div class="banner-2">
  <div class="row">
    <div class="col-xs-12 col-sm-12 shake">
        <div class="colormain"><h2>Galerie photos</h2></div>
      </div>
        <div class="gallery">
          <div class="row">
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/1.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/2.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/3.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/4.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/5.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/6.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/7.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/8.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/8.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/9.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/10.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/10.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/11.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/13.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/13.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/14.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/14.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/15.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/15.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/16.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/16.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/17.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/17.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/19.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/19.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/20.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/20.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/21.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/21.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/22.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/22.jpg"></a>
            </div>
            <div class="col-sm-4 sizing-picture-allonge"><br>
              <a href="/images/lucille/23.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/lucille/23.jpg"></a>
            </div>
          </div>
          <div class="row"><p>Credits Photo : HDT Photography et Micha Ocádiz</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









