---
title: Marina Ocádiz
---

<%= partial "headerfr" %>
<div class="content" >
   <div class="banner planches2">
    <div class="banner-content">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1><b>Marina Ocádiz</b></h1>
          </div>

        <div class="col-xs-12 col-sm-2">
          <div class="card page img-circle" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/marina/92.jpg');">
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-8">
          <div class="textalign">
          <p>Née d'un père mexicain et d'une mère russe de Turquie, <a href="marina.html">Marina Ocádiz</a> est formée au théâtre au Conservatoire de St-Germain-en-Laye où elle obtient son Diplôme d'Etudes Théâtrales (2016). Après un Baccalauréat International bilingue espagnol, elle valide une licence de théâtre et cinéma-audiovisuel à la Sorbonne-Nouvelle (2016) et poursuit aujourd'hui ses études théoriques en Master 1 Théâtre.
          Elle est membre active du Collectif Dans La Peau (CDLP) et de la Compagnie Spleen Théâtre.
          Parallèlement, Marina reçoit le prix de la meilleure actrice de long-métrage au Festival Arte Non-Stop de Buenos Aires 2016 pour son rôle dans <a href="ignition.html">Ignition</a>, long-métrage écrit et réalisé par Paul Contargyris du CDLP (2016).</p>

         <!--  <i class="fa fa-minus" aria-hidden="true"></i>
          <div class="shake"><h2>À quoi je ressemble ?</h2></div>
            <p><b>Age apparent :</b>  16-23 ans – 1,65m – 54kg – 22.12.95</p>
            <p><b>Cheveux, Yeux:</b> Châtains foncés, Marrons</p>
          </div> -->

        </div>
      </div>
        <div class="col-xs-12 col-sm-12">
          <a href="#equipe">
            <h4>1. Parcours</h4>
          </a>
          <a href="#photo">
            <h4>2. Galerie Photos</h4>
          </a>
        </div>
      </div>

        <div class="row">

          <div class="col-xs-12 col-sm-12 bas">

            <div class="shake"><h3><b>Retrouvez-moi</b></h3></div>
          </div>
        </div>
          <div class="col-sm-3 plusfat">
            <a href="https://vimeo.com/marinaocadiz"><h3 class="btn-medium cv">Sur Vimeo</h3></a>
            <a href="https://www.facebook.com/marina.ocadiz" class="href"><h3 class="btn-medium cv">Sur Facebook</h3></a>
          </div>
          <div class="col-sm-3 plusfat">
            <a href="https://www.imdb.com/name/nm7451199/"><h3 class="btn-medium cv">Sur IMDb </h3></a>
            <a href="http://marinaocadiz.wixsite.com/comedienne"><h3 class="btn-medium cv">Sur mon site</h3></a>
          </div>
          <div class="col-sm-3 plusfat">
            <a href="/files/CV-Marina-Ocádiz.pdf"><h3 class="btn-medium cv">Voir mon CV </h3></a>
             <a href="https://vimeo.com/245163524"><h3 class="btn-medium cv">Voir ma démo</h3></a>
          </div>
          <div class="col-sm-3 plusfat ">
            <a href="mailto:marina.ocadiz@gmail.com"><h3 class="btn-medium cv">Par Mail</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<a id=equipe></a>
<div class="content">
<div class="banner-2">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-4">
          <div class="shake"><h2>Filmographie</h2></div><br/>
            <div class="textalign">
            <p>
            <b>2018   -     <a href="deplaceleciel.html">Déplace le ciel</a></b> <br> <i>court-métrage (25’)</i> Co-production CDLP et One Out Prod. <br>Directrice artistique / Co-scénariste / Comédienne</p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p><div class="textalign">
            <p><b>2016 - Joyeux Anniversaire</b> <br><i> Court-métrage (23’)</i>, Nicolas Khamsopha. <br>
            Comédienne. </p></div>
           <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2016 - <a href="ignition.html">Ignition</a></b><i>Long-métrage (65’)</i> <br> Paul Contargyris. Production CDLP. <br>Comédienne, prix d’interprétation féminine Festival Arte Non-Stop de Buenos Aires.</p></div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <p><div class="shake"><h2>Théâtre</h2></div><br/></p>
            <div class="textalign"><p><b>2018   -   Nous Autres - <i>Mélanie Belamy (Comme un Art de Scène)</i> </b><br>
            Théâtre de la Commune CDN d’Aubervillier (93), mai 2018.</p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2018   -   <a href="louise.html">Louise</a> - <i><a href="florence.html">Florence de Thalouët</a></i> </b><br>Festival à Contre sens de la Sorbonne Nouvelle (Paris 05) du 14 au 28 mars. </p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2018   -   Kaguya-Hime - <i>théâtre Kamishibai dirigé par Mayuka Lecarpentier.
            </i></b> <br>
            Espace Vasarely d'Antony (92), mars 2018.</p> </div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2016/2018   -   Michka - <i>Alex Adarjan (Spleen Theatre)</i> </b> <br/> Foyer de Neuville sur Oise (95), décembre 2016. <br>
            Théâtre Darius Milhaud (Paris 19), janvier 2018.</p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2017   -   <a href="impressions-feminines.html">Impressions féminines</a> - <i><a href="emma.html">Emma Pujar</a></i> </b> <br/>
            Flèche d’Or, Festival Les Aliennes (Paris 20), mars 2016. <br>
            Université Paris Ouest Nanterre (92), mai 2016. <br>
            Théâtre de Verre (Paris 20), janvier 2017. <br>
            </p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2015-2016   -   <a href="justelafindumonde.html">Juste la fin du monde</a>  - <i>Jean-Luc Lagarce</i> </b> <br/>
            Salle Tati de St-Germain (78), mai 2015, septembre 2015. <br>
            Festival étudiant de Cabourg (14), avril 2016, Félicitations du jury. <br>
            Théâtre Alexandre Dumas de St-Germain (78), octobre 2016.
     <br>
            </p></div>
            <p><i class="fa fa-minus" aria-hidden="true"></i></p>
            <div class="textalign"><p><b>2015-2016   -   La Vénus d’Ille</a>  - <i>Alex Adarjan (Spleen Théâtre)</i></b><br>
            Foyer de Neuville sur Oise (95), septembre 2015. <br>
            Salle Tati de St-Germain (78), avril 2016.</div> <br/> </p>
          </div>
          </div>
        </div>
    </div></i></p></i></i></p></div></div></div></div></div>
  </div>

<br><br>

<a id=photo></a>
<div class="content">
  <div class="banner-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 shake">
        <div class="shake"><h2>Galerie Photos</h2></div>
      </div>
    <div class="gallery">
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/1.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/1.jpg"></a>
      </div>
       <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/14.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/14.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/3.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/11.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/11.jpg"></a>
      </div>
       <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/2.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/2.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/6.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/6.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/7.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/7.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/4.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/4.jpg"></a>
      </div>
       <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/9.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/9.jpg"></a>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/16.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/16.jpg"></a>
      </div>

      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/5.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/5.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/12.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/12.jpg"></a><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/15.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/15.jpg"></a>
      </div>


      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/17.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/17.jpg"></a>
      </div>
    </div><br><br>
    <!-- <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/18.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/18.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/19.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/19.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/24.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/24.jpg"></a><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/22.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/22.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/23.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/23.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/20.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/20.jpg"></a><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/25.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/25.jpg"></a>
      </div>
      <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/26.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/26.jpg"></a>
      </div>
        <div class="col-sm-4 sizing-picture-allonge"><br>
        <a href="/images/marina/21.jpg" data-lightbox="mygallery" data-title="My caption"><img src="/images/marina/21.jpg"></a>
      </div>
    </div> -->
    <div class="row"><p>Credits Photo : Alex Pixelle, Micha Ocadiz, Nicolas Questel, Lisa Langlois.</p>

    </div>

    </div>
      <p><br></p>
  </div>
</div>





