---
title: Créations du collectif
---

<%= partial "headerfr" %>
<div class="content">
  <div class="banner planches">
    <div class="banner-content">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1><b>Nos créations</b></h1><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-2">
        <a class="card-link" href="louise.html" >
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/louise.jpg')">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1">
        <div class="card-description textalign">
          <h4>Louise</h4><br>
          <p><i>Théâtre</i></p>
          <p>2018</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <a class="card-link" href="deplaceleciel.html" >
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/deplace.jpg');">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1">
        <div class="card-description textalign">
          <h4>Déplace le ciel</h4>
          <p><i>Cinéma</i></p>
          <p>2018</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <a class="card-link" href="eva.html" >
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/eva.png')">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1">
        <div class="card-description textalign">
          <h4>Eva</h4><br>
          <p><i>Cinéma</i></p>
          <p>2018</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-2">
        <a class="card-link" href="impressions-feminines.html" >
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/impressions1.jpeg')">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1">
        <div class="card-description textalign">
          <h4>Impressions Féminines</h4><br>
          <p><i>Théâtre</i></p>
          <p>2016</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <a class="card-link" href="ignition.html" >
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/affiche.jpg');">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1">
        <div class="card-description textalign">
          <h4>Ignition</h4><br><br>
          <p><i>Cinéma</i></p>
          <p>2016</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-2">
        <a class="card-link" href="justelafindumonde.html" >
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/theatre1.jpg')">
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-1">
        <div class="card-description textalign">
          <h4>Juste la fin du monde</h4><br>
          <p><i>Théâtre</i></p>
          <p>2015</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



















