<%= partial "headerfr" %>
<div class="content">
  <div class="banner presse");">
    <div class="banner-content">


        <div class="row">
            <div class="col-xs-12 col-sm-4">
              <h1>INTERVIEWS</h1>
              <% link_to 'http://radioagora-nanterre.fr/broadcast/4681-Impressions-f%C3%A9minines-une-pi%C3%A8ce-sur-les-clich%C3%A9s-autour-des-femmes' do %>
                <%= image_tag 'itw.jpg', style:"width:140px; height: 100px"  %>
              <% end %>
                <p><b> INTERVIEW SUR RADIO LFM, 95.5 : <br>Rencontre avec le Collectif Dans La Peau dans l’émission culture.
                </p>
        <a  href="http://radioagora-nanterre.fr/broadcast/4681-Impressions-f%C3%A9minines-une-pi%C3%A8ce-sur-les-clich%C3%A9s-autour-des-femmes" class="btn-medium article">Réecouter l'emission</a>

              <p><b>INTERVIEW SUR RADIO AGORA, 105.5FM</b><br/> <i>Le 26/04/2016 </i><br/>INTERVIEW : "Impressions féminines: une pièce sur les clichés autour des femmes écrite et mise en scène par Emma Pujar.</p>
              <a  href="http://radioagora-nanterre.fr/broadcast/4681-Impressions-f%C3%A9minines-une-pi%C3%A8ce-sur-les-clich%C3%A9s-autour-des-femmes" class="btn-medium article">Réecouter l'émission</a>
          </b></p></div>
              <div class="col-xs-12 col-sm-3">
                <h1>REPORTAGE</h1>
                <iframe width="280" height="215" src="https://www.youtube.com/embed/H5ezzS8uNQI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                  <p><b> REPORTAGE SUR YVELINES PREMIERES <br>
                  </b> <i>Le 10/10/2015</i><br/>REPORTAGE : L. Brachet, R. Da Cruz, S Jaubert <br>MONTAGE : A. Rouyer
                  </p>
              </div>
              <div class="col-xs-12 col-sm-5">
                <h1>ARTICLES</h1>
                <a  href="images/yve.jpg">
                   <p><b>LE JOURNAL DE SAINT GERMAIN EN LAYE</b><br/> <i>Le 07/10/2015 </i><br/>ARTICLE : "Par le Conservatoire Claude-Debussy."</p>
              </a>
                <a href="images/pape.jpg">
                 <p><b>LE COURRIER DES YVELINES</b> <br/><i>Le 09/10/2016 </i><br/>ARTICLE : "Une tragi-comédie de la parole se joue salle Tati, à Saint-Germain." </p>
                </a>
                <a href="http://www.tad-saintgermainenlaye.fr/7-152/fiche/juste-la-fin-du-monde.htm">
                  <p><b> ST-GERMAIN-EN-LAYE</b> <br/><i>Le 01/10/2016 </i><br/>ARTICLE : "Juste la fin du monde, de Jean-Luc Lagarce - Présenté par les élèves du  Conservatoire C.Debussy, le samedi 15 octobre 2016 "</p>
                </a>
              <a href="images/nanterre.jpg">
                <p><b> PHARE OUEST NANTERRE</b><br/> <i>Le 27/04/2016 </i><br/>ARTICLE : "Impressions Féminines, une création originale du Collectif Dans La Peau, écrite et dirigée par Emma Pujar." <br><i>Article écrit par : Louise Cordès.</i>
                </p>
              </a>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


