---
title: Remerciements
---

<%= partial "headerfr" %>
<div class="content" >
  <div class="banner alain">
    <div class="banner-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h1><b>Nos membres supports</b></h1>
      </div>
        <div class="col-xs-12 col-sm-2">
          <a class="card-link" href="https://fr.ulule.com/deplace-le-ciel-court-metrage" >
            <div class="card membre" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('/images/communitymanager.jpg');">
            </div>
          </a>
          <div class="card">
            <p>Lauren Jean <br> <i>Community Manager</i></p>
          </div></div>
        <div class="col-xs-12 col-sm-8 pluspetit">
          <div class="textalign">
              <h6>Toute l'équipe du CDLP remercie le Conservatoire à Rayonnement Départemental Claude Debussy de St-Germain-en-laye sans qui la formation du collectif n'aurait pas eu lieu et tout particulièrement le Directeur du Conservatoire, M. Gilles Dulong.</h6>

              <h6>Un grand merci à nos deux incroyables professeures Isabelle Mestre et Aurélia Hannagan pour leur regard constructif bienveillant. Nous pensons également à l'essort du projet Juste la Fin du Monde, pour lequel nous souhaitons remercier Isabelle Mestre en sa qualité de metteuse en scène et régisseuse, ainsi que Claire Chavanne notre talentueuse scénographe pour son travail et son investissement.</h6>

              <h6>Tous nos sincères remerciements à Sophie Bauer, Directrice du Théâtre Alexandre Dumas pour sa confiance et son soutien dans notre parcours, ainsi qu'à toute l'équipe des régisseurs du théâtre pour leur patience et leur gentillesse. Nous remercions également la ville de Saint-Germain-en-Laye qui nous offre la possibilité de jouer dans différents théâtres de la ville, comme la salle Tati ou encore le renommé Théâtre Alexandre Dumas.</h6>

              <h6>Nous remercions enfin chaleureusement Loïc Stas qui a réalisé nos visuels et notamment ce site - pour son engagement et sa remarquable qualité de travail, ainsi que notre Graphiste Julien Krieger pour la talentueuse réalisation de notre logo CDLP ; Lauren Jean, notre community manager pour la com' de feu et Micha pour les photos extras. </h6>
              <div class="col-sm-12">
 <%= image_tag "logo-blanc.png", style:'width: 10vh; margin-left: auto; margin-right: auto;' %>
</div>

          </div>
        </div>

      <div class="col-xs-12 col-sm-2">
        <a class="card-link" href="https://www.facebook.com/MichaOcadizPhotography" >
          <div class="card membre" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/micha1.jpeg');"></div>
          </a>
            <div class="card">
              <p>Micha Ocádiz Photography</p>
            </div>
      </div>
  </div>
</div>

</div>
</div>

</div>

